/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

* {
  box-sizing: border-box
}

textarea {
  height: 150px;
  width: 250px;
  margin: 30px;
}

.robot {
  position: absolute;
  border: solid 1px red;
  background: lightgray;
  padding: 5px;
  font-size: 10px;
}

/* .orientation { transition: all 1s; transform: translate(25%, -25%); opacity: 0.7} */
.orientation { transform: translate(25%, -25%); opacity: 0.7}
.orientation--w { border-radius: 15px 0 0 15px }
.orientation--n { border-radius: 15px 15px 0 0 }
.orientation--s { border-radius: 0 0 15px 15px }
.orientation--e { border-radius: 0 15px 15px 0 }

.mars-tile {
  flex: 1;
  padding: 1px;
  font-size: 12px;
  text-align: left;
  color: darkgrey;
}

.robot--lost {
  opacity: 0.4;
  background-color: pink;
}
.robot--stopped {
  opacity: 0.4;
  background-color: purple;
}
.output {
  width: 250px;
  height: 150px;
  font-size: 20px;
  position: absolute;
  top: 0;
  font-weight: bold;
  background-color: #eaeaea;
  opacity: 0.6;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding-left: 30px;
}
